<div class="page-header">
    <h1>My projects</h1>
</div>
{{#link-to "projects.new" class="btn btn-default"}}New project{{/link-to}}
<br /><br />

<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>Project</th>
        <th>Owner</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>

    {{#each model as |item|}}
      {{#if item.id }}
        {{#if (contains item.members user) }}
            <tr>
                <td>
                  {{#if item.isPublic}}<span class="label label-success">Public</span>{{else}}
                      <span class="label label-danger">Private</span>{{/if}}
                  {{#link-to "project.index" item.id}}{{item.name}}{{/link-to}}</td>
                <td>{{item.owner.username}}</td>
                <td>{{#unless (eq item.owner.username sessionAccount.account.username) }}
                  {{#unless (contains item.members sessionAccount.account) }}
                      <button type="button" class="btn btn-primary btn-xs" {{action "joinProject" item}}>Join</button>
                  {{else}}
                      <button type="button" class="btn btn-danger btn-xs" {{action "leaveProject" item}}>Leave</button>
                  {{/unless}}
                {{/unless}}
                </td>
            </tr>
        {{/if}}
      {{/if}}
    {{/each}}

    </tbody>
</table>