Name: {{model.project.name}}<br />
Owner: {{model.project.owner.username}}<br />
isPublic: {{model.project.isPublic}}<br />

{{#if (eq sessionAccount.account.username model.project.owner.username)}}
  {{delete-button deleteAction="deleteProject"}}
{{/if}}

Members:<br />
<ul>
    {{#each model.project.members as |m|}}
    <li>{{m.username}}</li>
    {{/each}}
</ul>
<br />
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#task_modal">
    New task
</button>
<br />
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#note_modal">
    New note
</button>
<br />

<b>Tasks: </b>
<br />
{{#each model.tasks as |task|}}
  {{#if (eq task.project.id model.project.id)}}
    <blockquote style="background-color:{{task.color}}">
      Title: {{task.title}}<br />
      User: {{task.owner.username}}<br />
      Text: {{task.text}}<br />
      Date: {{task.date}}<br />
      Deadline: {{task.deadline}}<br />
      Color: {{task.color}}<br />
      Priority: {{task.priority}}<br />
      State: {{task.state.name}}<br />
      Comments:
      <ul>
        {{#each task.comments as |comment|}}
          <li>{{comment.user.username}} ({{comment.date}}): {{comment.text}}</li>
        {{/each}}
      </ul>
      AssignedUsers:
      <ul>
        {{#each task.assignedUsers as |a|}}
          <li>{{a.username}}</li>
        {{/each}}
      </ul>
    </blockquote>
  {{/if}}
{{/each}}


<b>Notes: </b>
<br />
{{#each model.notes as |note|}}
  {{#if (eq note.project.id model.project.id)}}
  <blockquote style="background-color:{{note.color}}">
      Text: {{note.text}}<br />
      User: {{note.owner.username}}<br />
      Date: {{note.date}}<br />
      Color: {{note.color}}<br />
  </blockquote>
  {{/if}}
{{/each}}


<div id="task_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New task</h4>
            </div>
            <div class="modal-body">
              {{#if errorMessage}}
                  <div class="alert alert-danger">
                      <strong>Saving failed:</strong> {{errorMessage}}
                  </div>
              {{/if}}

                <form class="form-horizontal" role="form" {{action 'createTask' on='submit'}}>
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputName">Title</label>
                            <div class="col-lg-10">
                              {{input value=model.task.title class="form-control"}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputName">Text</label>
                            <div class="col-lg-10">
                              {{input value=model.task.text class="form-control"}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputName">Deadline</label>
                            <div class="col-lg-10">
                            <div class="input-group date datetimepicker">
                                {{input value=model.task.deadline class="form-control"}}
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('.datetimepicker').datetimepicker();
                                });
                            </script>
                        </div>


                        <div class="form-group">
                          <label class="control-label col-lg-2" for="inputName">Color</label>
                          <div class="col-lg-10">
                          <div class="input-group colorpicker" style="z-index:0;">
                            {{input value=model.task.color class="form-control"}}
                              <span class="input-group-addon"><i></i></span>
                          </div>
                          </div>
                          <script>
                              $(function(){
                                  $('.colorpicker').colorpicker({
                                      color: "#009900"
                                  });
                              });
                          </script>
                        </div>



                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputName">Priority</label>
                            <div class="col-lg-10">
                              {{input value=model.task.priority class="form-control"}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputName">is Done?</label>
                            <div class="col-lg-10">
                              {{input type="checkbox" name="isDone" checked=model.task.isDone}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputMembers">Assigned Users</label>
                            <div class="col-lg-10">
                              {{#each model.project.members as |member|}}
                                  <li>{{ user-checkbox-task member=member task=model.task }}</li>
                              {{/each}}

                            </div>
                        </div>

                        <input type="hidden" value={{model.task.id}} id="id"/>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-large btn-primary" {{action "createTask"}}>Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="note_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New note</h4>
            </div>
            <div class="modal-body">
              {{#if errorMessage}}
                  <div class="alert alert-danger">
                      <strong>Saving failed:</strong> {{errorMessage}}
                  </div>
              {{/if}}

                <form class="form-horizontal" role="form" {{action 'createNote' on='submit'}}>
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputName">Text</label>
                            <div class="col-lg-10">
                              {{input value=model.note.text class="form-control"}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputName">Color</label>
                            <div class="col-lg-10">
                                <div class="input-group colorpicker2">
                                  {{input value=model.note.color class="form-control"}}
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                            <script>
                                $(function(){
                                    $('.colorpicker2').colorpicker({
                                        color: "#009900"
                                    });
                                });
                            </script>
                        </div>

                        <input type="hidden" value={{note.id}} id="id"/>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-large btn-primary" {{action "createNote"}}>Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
    /*
    $(document).ready(function(){
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
    */
</script>