Name: {{model.project.name}}<br />
Owner: {{model.project.owner.username}}<br />
isPublic: {{model.project.isPublic}}<br />

{{#if (eq sessionAccount.account.username model.project.owner.username)}}
  {{delete-button deleteAction="deleteProject" model=model.project}}
{{/if}}

Members:<br />
<ul>
    {{#each model.project.members as |m|}}
    <li>{{m.username}}</li>
    {{/each}}
</ul>
<br />
{{edit-project-form editAction="editProject" model=model project=model.project}}
<br />
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#task_modal">
    New task
</button>
<br />
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#note_modal">
    New note
</button>
<br />

<b>Tasks: </b>
<br />
{{#each model.tasks as |task|}}
  {{#if (eq task.project.id model.project.id)}}
    <blockquote style="background-color:{{task.color}}">
      Title: {{task.title}}<br />
      User: {{task.owner.username}}<br />
      Text: {{task.text}}<br />
      Date: {{task.date}}<br />
      Deadline: {{task.deadline}}<br />
      Color: {{task.color}}<br />
      Priority: {{task.priority}}<br />
      isDone?: {{task.isDone}}<br />
      Comments:
      <ul>
        {{#each comments as |comment|}}
          {{#if (eq task.id comment.task.id)}}
          <li>{{comment.user.username}} ({{comment.date}}): {{comment.text}}</li>
          {{/if}}
        {{/each}}
      </ul>
      {{add-task-comment model=model comment=model.comment task=task}}


      AssignedUsers:
      <ul>
        {{#each task.assignedUsers as |a|}}
          <li>{{a.username}}</li>
        {{/each}}
      </ul>
      {{#if (eq sessionAccount.account.username task.owner.username)}}
        {{edit-task-form editAction="editTask" model=model task=task}}
        {{delete-button deleteAction="deleteTask" model=task}}
      {{/if}}
    </blockquote>
  {{/if}}
{{/each}}


<b>Notes: </b>
<br />
{{#each model.notes as |note|}}
  {{#if (eq note.project.id model.project.id)}}
  <blockquote style="background-color:{{note.color}}">
      Text: {{note.text}}<br />
      User: {{note.owner.username}}<br />
      Date: {{note.date}}<br />
      Color: {{note.color}}<br />
    {{#if (eq sessionAccount.account.username note.owner.username)}}
      {{edit-note-form editAction="editNote" model=model note=note}}
      {{delete-button deleteAction="deleteTask" model=note}}
    {{/if}}
  </blockquote>
  {{/if}}
{{/each}}


<div id="task_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" id="task_form" {{action 'createTask' on='submit'}}>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New task</h4>
            </div>
            <div class="modal-body">
              {{#if errorMessage}}
                  <div class="alert alert-danger">
                      <strong>Saving failed:</strong> {{errorMessage}}
                  </div>
              {{/if}}

                    <fieldset>
                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputName">Title</label>
                            <div class="col-lg-10">
                              {{input value=model.task.title class="form-control"}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputName">Text</label>
                            <div class="col-lg-10">
                              {{input value=model.task.text class="form-control"}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputName">Deadline</label>
                            <div class="col-lg-10">
                            <div class="input-group date datetimepicker">
                                {{input value=model.task.deadline id="datetimepicker_input" class="form-control"}}
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('.datetimepicker').datetimepicker();
                                    $(".datetimepicker").on("dp.change", function (e) {
                                        $('datetimepicker_input').focus();
                                    });
                                });
                            </script>
                        </div>


                        <div class="form-group">
                          <label class="control-label col-lg-2" for="inputName">Color</label>
                          <div class="col-lg-10">
                          <div class="input-group colorpicker" style="z-index:0;">
                            {{input value=model.task.color id="colorpicker_input" class="form-control"}}
                              <span class="input-group-addon"><i></i></span>
                          </div>
                          </div>
                          <script>
                              $(function(){
                                  $('.colorpicker').colorpicker({
                                      color: "#009900"
                                  });
                                  $('.colorpicker').colorpicker().on('changeColor.colorpicker', function(event) {
                                      $("#colorpicker_input").focus();
                                  });
                              });
                          </script>
                        </div>



                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputName">Priority</label>
                            <div class="col-lg-10">
                              {{input value=model.task.priority class="form-control"}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputName">is Done?</label>
                            <div class="col-lg-10">
                              {{input type="checkbox" name="isDone" checked=model.task.isDone}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputMembers">Assigned Users</label>
                            <div class="col-lg-10">
                              {{#each model.project.members as |member|}}
                                  <li>{{ user-checkbox-task member=member task=model.task }}</li>
                              {{/each}}

                            </div>
                        </div>

                        <input type="hidden" value={{model.task.id}} id="id"/>
                    </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-large btn-primary" type="submit">Save</button>
            </div>
        </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="note_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" id="note_form" {{action 'createNote' on='submit'}}>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New note</h4>
            </div>
            <div class="modal-body">
              {{#if errorMessage}}
                  <div class="alert alert-danger">
                      <strong>Saving failed:</strong> {{errorMessage}}
                  </div>
              {{/if}}

                    <fieldset>
                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputName">Text</label>
                            <div class="col-lg-10">
                              {{input value=model.note.text class="form-control"}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputName">Color</label>
                            <div class="col-lg-10">
                                <div class="input-group colorpicker2">
                                  {{input value=model.note.color id="colorpicker2_input" class="form-control"}}
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                            <script>
                                $(function(){
                                    $('.colorpicker2').colorpicker({
                                        color: "#009900"
                                    });
                                    $('.colorpicker2').colorpicker().on('changeColor.colorpicker', function(event) {
                                      $("#colorpicker2_input").focus();
                                    });
                                });
                            </script>
                        </div>

                        <input type="hidden" value={{note.id}} id="id"/>
                    </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-large btn-primary" type="submit">Save</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->